* {
    font-family: 'Work Sans', sans-serif;
}

/* Banner Section  */
body{
    background-image: url(../images/banner/banner2.png);
}
header{
    display: flex;
}

.banner-titel {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
}

.banner-description {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;

}

/* Banner Button  */
.btn-primary {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    height: 64px;
    border-radius: 10px;
    background: #1f3ce2;
    text-align: center;
}

/* Second Block  */
.image {
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}

.banner2 {
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1178px;
}

.banner2-titel {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.banner2-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.banner2-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* My Plan Section  */
main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1700px;
}
.section-titel {
    margin-top: 1000px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.section-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info-titel {
    font-weight: 700;
    font-size: 20px;
    color: #151414;
}

.info-description {
    font-weight: 500;
    font-size: 18px;
    color: #737272;
}

/* Contact Section  */
.contact-section {
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    border-radius: 20px;
    padding: 40px;
}
.contact-titel {
    text-align: left;
    font-weight: 1000;
    font-size: 40px;
    color: #f7f4f4;
    text-align: left;
    text-shadow: 5px 5px #7a7676;


}

.contact-btn {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    width: 120px;
    height: 64px;
    border-radius: 10px;
    background: #f5f3f1;
    text-align: center;
}

/* New Foter Section */
footer{
    background-color: #151414;
    margin-top: 100px;
}
.footer{
    display: flex;
    gap: 100px;
    padding: 130px 200px;
}
li{
    list-style: none;
    color: rgb(255, 254, 254); 
}
.future-text{
color: #f7f4f4;
}
.future-discription{
    color: #f7f4f4;
}
.future-btn{
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    height: 64px;
    border-radius: 10px;
    background: #1f3ce2;
    text-align: center;
}
.future-data{
    margin-bottom: 24px;
    border: 0;
    width: 250px;
    padding-left:30px;
    height: 64px;
    border-radius: 10px;
}
.footer-col{
    background-color: #151414;
    margin-top: 100px;
}